[submodule "K-V-Workload-Generator"]
	path = K-V-Workload-Generator
	url = https://github.com/BU-DiSC/K-V-Workload-Generator.git
[submodule "rocksdb"]
	path = rocksdb
	url = git@github.com:achanda/rocksdb.git
	branch = 44aceb88d0de120847719c061aa3a8465daaee48
[submodule "kv-bench-rocksdb-example"]
	path = kv-bench-rocksdb-example
	url = https://github.com/BU-DiSC/kv-bench-rocksdb-example.git
